/* Cards */
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  transform: scale(1.05);
}

.product_image {
  height: 100%;
}

.item-heading {
  font-size: 22px;
  text-decoration: underline;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .centered-image {
    margin-left: 0;
  }
  .item-heading {
    font-size: 38px;
  }
}

/* View Item */
.purchase-link {
  color: black;
  background-color: lightpink;
  border-color: lightpink;
}

.purchase-link:hover {
  background-color: hotpink;
  border-color: hotpink;
}

/* Like button */
.like-button:hover {
  color: hotpink;
}

.like-button {
  color: hotpink;
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
}

/* Filters*/
.filter_dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
  min-width: 180px;
}

.dropdown-item {
  margin-bottom: 5px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 4px;
  padding: 5px;
}

.dropdown-item:hover {
  background: rgba(0, 0, 0, 0.1);
}